<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="dark" text=""></ion-back-button>
        </ion-buttons>

        <ion-title>Avatar</ion-title>

        <ion-buttons slot="end">
            <ion-avatar>
                <img src="/assets/pogba.jpg">
            </ion-avatar>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-chip>
        <ion-avatar>
            <img src="/assets/pogba.jpg">
        </ion-avatar>
        <ion-label>Paul Pogba</ion-label>
    </ion-chip>

    <ion-item>
        <ion-avatar slot="start">
            <img src="/assets/pogba.jpg">
        </ion-avatar>
        <ion-label>Paul Pogba</ion-label>
    </ion-item>

</ion-content>