<app-header titulo="card"></app-header>

<ion-content>
    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>

        <ion-item color="primary">
            <ion-icon slot="start" color="light" name="pin"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid at atque eligendi cum saepe libero repellendus cumque ipsa, vel inventore molestiae, voluptate unde delectus dolorum deleniti consequatur porro perspiciatis! Odio.
        </ion-card-content>
    </ion-card>

    <ion-card>

        <ion-img src="/assets/shapes.svg"></ion-img>

        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aperiam eum autem eveniet, error quas suscipit. Distinctio eius quod ex voluptas quo earum labore nam, esse quaerat iusto eos hic?
        </ion-card-content>
    </ion-card>
</ion-content>